#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

/ {
    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    behaviors {
    };

    combos {
        compatible = "zmk,combos";

        Show_layer_0 {
            bindings = <&kp LA(RA(N0))>;
            key-positions = <39 51>;
            slow-release;
            timeout-ms = <100>;
            layers = <0>;
        };

        Show_layer_1 {
            bindings = <&kp RA(LA(N1))>;
            key-positions = <51 39>;
            slow-release;
            timeout-ms = <100>;
            layers = <2>;
        };

        Show_layer_2 {
            bindings = <&kp RA(LA(N2))>;
            key-positions = <51 39>;
            slow-release;
            timeout-ms = <100>;
            layers = <1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
&kp ESC     &kp N1     &kp N2        &kp N3        &kp N4  &kp N5       &kp UP_ARROW     &kp N6     &kp N7  &kp N8         &kp N9         &kp N0             &kp BACKSPACE
&kp TAB     &kp Q      &kp W         &kp E         &kp R   &kp T        &kp DOWN_ARROW   &kp Y      &kp U   &kp I          &kp O          &kp P              &kp MINUS
&kp CAPS    &kp A      &kp S         &kp D         &kp F   &kp G        &kp LEFT_ARROW   &kp H      &kp J   &kp K          &kp L          &kp SEMI           &kp APOS
&kp LSHFT   &kp Z      &kp X         &kp C         &kp V   &kp B        &kp RIGHT_ARROW  &kp N      &kp M   &kp COMMA      &kp DOT        &kp FSLH           &kp RIGHT_SHIFT
&kp C_MUTE  &kp LCTRL  &kp LEFT_GUI  &kp LEFT_ALT  &mo 1   &kp SPACE    &kp ENTER        &kp ENTER  &mo 2   &kp RIGHT_ALT  &kp RIGHT_WIN  &kp RIGHT_CONTROL
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            display-name = "default";
        };

        UPPER {
            bindings = <
&kp F1      &kp F2  &kp F3    &kp F4    &kp F5     &kp F6    &mmv MOVE_UP     &kp F7  &kp F8     &kp F9             &kp F10  &kp F11  &kp F12
&none       &none   &none     &kp UP    &none      &none     &mmv MOVE_DOWN   &none   &none      &none              &none    &none    &none
&none       &none   &kp LEFT  &kp DOWN  &kp RIGHT  &none     &mmv MOVE_LEFT   &none   &kp RSHFT  &kp RIGHT_CONTROL  &none    &none    &none
&trans      &none   &none     &none     &none      &none     &mmv MOVE_RIGHT  &none   &none      &none              &none    &none    &trans
&kp C_MUTE  &none   &none     &none     &trans     &trans    &mkp LCLK        &trans  &trans     &none              &none    &none
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        LOWER {
            bindings = <
&none       &none  &none                 &none                  &none          &none     &mmv MOVE_UP     &none          &kp KP_NUMLOCK  &kp KP_SLASH  &kp KP_MULTIPLY  &kp KP_SUBTRACT  &trans
&none       &none  &kp LBKT              &kp RBKT               &none          &none     &mmv MOVE_DOWN   &none          &kp KP_N7       &kp KP_N8     &kp KP_N9        &kp KP_PLUS      &kp KP_EQUAL
&none       &none  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp BACKSLASH  &none     &mmv MOVE_LEFT   &kp PG_UP      &kp KP_N4       &kp KP_N5     &kp KP_N6        &kp KP_LPAR      &kp KP_RPAR
&trans      &none  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &none          &none     &mmv MOVE_RIGHT  &kp PAGE_DOWN  &kp KP_N1       &kp KP_N2     &kp KP_N3        &none            &trans
&kp C_MUTE  &none  &none                 &none                  &trans         &trans    &mkp LCLK        &trans         &trans          &none         &kp KP_N0        &kp KP_DOT
            >;

            sensor-bindings = <&scroll_encoder>;
        };
    };
};
